<h1 class="text-center">Contact Us</h1>


<form class="col-md-6 col-md-offset-3" method="post">
    {{#each errorMessages}}
    <div class="alert alert-danger">
        {{this.msg}}
    </div>
    {{/each}}

  <div class="mb-3 form-group">
    <label for="name" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" value={{name}}>
  </div>
  <div class="mb-3 form-group">
    <label for="email" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" value={{email}}>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3 form-group">
    <label for="message" class="form-label">Message</label>
    <textarea name="message" name="message" id="message" cols="30" rows="5" class="form-control form-group">{{message}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>