<form method="post" class="form-signin">
    <h2 class="form-sign-in-heading text-center">New Account</h2>
    <br>
    <input type="text" name="name" class="form-control" placeholder="Name" required autofocus>
    <br>
    <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
    <br>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <br>
    <input type="password" name="confrimPassword" class="form-control" placeholder="Confirm Password" required autofocus>
    <br>
    <button type="button" class="btn btn-lg btn-primary btn-block"> Sign Up</button>
</form>