<div>
    <div class="row">
        <div class="col-md-8">
            <textarea id="code-screen">{{content}}</textarea>
        </div>
        <div class="col-md-4" id="chatbox">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Chat Room
                    <span class="pull-right" id="chatbox-username">
                        {{#if user}}
                        {{user.name}}
                        {{else}}
                        User123
                        {{/if}}
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="media-ist" style="height: 30rem; overflow-y: scroll" id="chatbox-listMessages">

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" id="userMessage" placeholder="Enter message" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" id="sendMessage"
                                onclick="sendMessage">SEND</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="collaborate">
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="{{roomId}}" id="roomId" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/javascript/javascript.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/task_bundle.js" async defer></script>